<div class="entry-inner">

  <h2>@<%= @user.username %></h2>

  <div class="user_icon_tabe">
    <% if @user.icon.blank? %>
      <img src="/default_user.png" width="200" height="200" class="user_icon">
    <% else %>
      <img src="<%= @user.icon.to_s %>" width="200" height="200" class="user_icon">
    <% end %>
  </div>

  <p>登録日 : <%= @user.created_at %></p>

  <h3>posts by @<%= @user.username %></h3>

  <% @posts.each do |p| %>
    <% if p.username == @user.username %>
      <div class="entry-inner">
        <p><%= link_to(p.title,"/post/#{p.id}") %></p>
        <p>Posted by @<%= p.username %><br>投稿日 : <%= p.created_at %></p>
      </div>
    <% end %>
  <% end %>

  <h3>favorited by @<%= @user.username %></h3>

  <% @likes.each do |l| %>
    <% if l.user_id == @user.id %>
      <% p = @posts.find_by(id: l.post_id) %>
      <div class="entry-inner">
        <% if p.blank? %>
        <% else %>
          <p><%= link_to(p.title,"/post/#{p.id}") %></p>
          <p>Posted by @<%= p.username %><br>投稿日 : <%= p.created_at %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= link_to("編集する","/users/edit") %>
  <% #link_toのみではrouteのgetにしか接続できない(らしい)ので %>

</div>
