
  <h1>
    <p><%= @post.title %></p>
  </h1>
<div class="entry-inner">
  <p><%= @post.content %></p>
  <br>
  <p>Posted by @<%= @post.username %><br>投稿日 : <%= @post.created_at %></p>
  <%= link_to("編集する","/post/#{@post.id}/edit") %>
  <%= link_to("削除する","/post/#{@post.id}/destroy",{method:"post"})%>
  <% #link_toのみではrouteのgetにしか接続できない(らしい)ので %>
</div>
