<!DOCTYPE html>
<html>
  <head>
    <title>Iruk_app</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="title">くりじゅんなんとかアプリ(仮)</div>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to "Settings", edit_user_registration_path, :class => "navbar-link" %>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => "navbar-link" %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
      <% end %>
    </header>

    <div class="contents">

      <%= yield %>

      <div class="aside">
        <div class="list">
            <ul>
              <li>Topp</li>
              <li>麻雀講座</li>
              <li>何切る？</li>
              <li>その他</li>
            </ul>
        </div>
      </div>

      <div class="clear"></div>
    </div>

    <%# ココまでレイアウトテスト用 %>

  </body>
</html>
