<!DOCTYPE html>
<html>
  <head>
    <title>mint</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel=””shortcut icon” href=”favicon.ico”>
  </head>

  <body>

    <header>

      <div class="title">
        <a href="/"><img src="/mint4.png" width="150" height="70"></a>
      </div>
      <% if user_signed_in? %>
        <%# Logged in as <strong><%= current_user.email %></strong>
        <%= link_to "Logout  ", destroy_user_session_path, method: :delete, :class => "navbar-link logout" %>
        <%= link_to "Setting   ", edit_user_registration_path, :class => "navbar-link setting" %>
        <%= link_to "Post ","/post/new", :class => "navbar-link post" %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
      <% end %>
    </header>

    <div class="contents">

      <div class="entry">
        <%= yield %>
      </div>

      <div class="aside">

        <% if user_signed_in? %>

          <div class="user_table_on">
            <a href="/users/<%= current_user.id %>">
              <div class="user_icon_table">
                <% if current_user.icon.blank? %>
                  <img src="/default_user.png" width="70" height="70" class="user_icon">
                <% else %>
                  <img src="<%= current_user.icon %>" width="70" height="70" class="user_icon">
                <% end %>
              </div>
            </a>

            <p>@<%= current_user.username %><br>id : <%= current_user.id %></p><br>

          </div>

        <% else %>
          <div class="user_table_off">
            <p>Please Login</p>
          </div>
        <% end %>

        <div class="list">
            <ul>
              <li><%= link_to("Top","/") %></li>
              <li><%= link_to("TimeLine","/post/index") %></li>
              <li><%= link_to("Users","/users/index") %></li>
              <li>なんか</li>
            </ul>
        </div>

      </div>

      <div class="clear"></div>
    </div>

    <%# ココまでレイアウトテスト用 %>

  </body>
</html>
